<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </script>
  </head>
  <body>
    <br>
    <div class="container">
      <h2>Todo List</h2>
      <div class="form-row">
        <div class="col">
          <input type="text" id="title" name="title" class="form-control" placeholder="title">
        </div>
        <div class="col">
          <input type="test" id="content" name="content" class="form-control" placeholder="content">
        </div>
        <div class="col">
          <select id="priority" name="priority" class="browser-default custom-select">
            <option value=""></option>
            <option value="!">!</option>
            <option value="!!">!!</option>
            <option value="!!!">!!!</option>
          </select>
        </div>
        <div class="col">
          <input type="date" id="dueDate" name="dueDate" class="form-control">
        </div>
        <div class="col">
          <button class="btn btn-success btn-sm" onclick="postTodo();">ADD</button>
          <button class="btn btn-warning btn-sm" onclick="expired();">EXPIRED</button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>DueDate</th>
            <th>Priority</th>
            <th>Done</th>
            <th>Mod/Del</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < result.length; i++) {var todo = result[i];%>
            <tr>
              <td>
                <input type="text" id="<%=todo._id%>title" name="title" class="form-control" value=<%=todo.title%>>
                </td>
              <td>
                <input type="text" id="<%=todo._id%>content" name="content" class="form-control" value=<%=todo.content%>>
              </td>
              <td>
                <input type="date" id="<%=todo._id%>dueDate" name="dueDate" class="form-control" value=<%=todo.date%>>
              </td>
              <td>
                <select id="<%=todo._id%>priority" name="priority" class="browser-default custom-select">
                  <option value="" <% if(todo.priority==="") { %>selected<%}%> ></option>
                  <option value="!" <% if(todo.priority==="!") { %>selected<%}%> >!</option>
                  <option value="!!" <% if(todo.priority==="!!") { %>selected<%}%> >!!</option>
                  <option value="!!!" <% if(todo.priority==="!!!") { %>selected<%}%> >!!!</option>
                </select>
              </td>
              <td>
                <input type="checkbox" id="<%=todo._id%>done" name="done" <% if(todo.done!=="0") {%>checked<%}%>>Done
              </td>
              <td>
                <button class="btn btn-primary btn-sm" onclick="modifyTodo('<%=todo._id%>');">MOD</button>
                <button class="btn btn-danger btn-sm" onclick="deleteTodo('<%=todo._id%>');">DEL</button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
  <script>
  function expired() {
    let alerts = <%- JSON.stringify(expired) %>
    let message = "";
    alerts.forEach((alert) => {
      message += alert.title + " : " + alert.content + " was expired at " + alert.date + "\n";
    })
    swal({title:"These are expired", text:message});
  }

  function modifyTodo(_id) {
    let isDone = "0";
    if ($('#'+_id+'done').is(":checked")) isDone = "1";
    console.log(isDone+"sdfadsf")
    $.ajax({
      url: '/todo',
      data: {todoId:_id, title:$('#'+_id+'title').val(), content:$('#'+_id+'content').val(),
        priority:$('#'+_id+'priority').val(), dueDate:$('#'+_id+'dueDate').val(),
        done:isDone
        },
      type: 'PUT',
      success: function(result) {
        console.log(result.message);
        window.location='/'
      },
      error: function(request, status, error) {
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  }

  function deleteTodo(_id) {
    $.ajax({
      url: '/todo',
      data: {todoId:_id},
      type: 'DELETE',
      success: function(result) {
        console.log(result.message);
        window.location='/'
      },
      error: function(request, status, error) {
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  }

  function postTodo() {
    console.log($('#title').val());
    $.ajax({
      url: '/todo',
      data: {title:$('#title').val(), content:$('#content').val(),
        priority:$('#priority').val(), dueDate:$('#dueDate').val()
        },
      type: 'POST',
      success: function(result) {
        console.log(result.message);
        window.location='/'
      },
      error: function(request, status, error) {
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  }
  </script>
</html>
